/********************************/
/* Font Family & Letter Spacing */
/********************************/

@font-face {
  font-display: block;
  font-family: 'Oswald-Regular';
  src: url(fonts/Oswald-Regular.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item,
.page-header,
.legend,
.content-header,
.contact,
button[type="submit"] {
  font-family: 'Oswald-Regular';
  letter-spacing: 2px;
}

/***************************************/
/* Font Size, Font Weight & Line Height*/
/***************************************/

.top {
  font-size: 1.5em;
}

.nav-item {
  font-size: 1em;
  font-weight: bolder;
}

.previous,
.next {
  font-size: 2em;
}

.page-header {
  font-size: 2em;
}

.content-header {
  font-size: 1.5em;
}

.content-text,
.description,
input[type=text],
input[type=email],
textarea {
  font-size: 1em;
}

.content-text,
.description {
  line-height: 1.5em;
}

.legend {
  font-size: 1.1em;
}

.contact,
button[type="submit"] {
  font-size: 0.95em;
  font-weight: bold;
}

.copyright {
  font-size: 0.9em;
}

.project {
  line-height: 1.5em;
}

.phone {
  font-size: 1.3em;
}

form p {
  font-size: 14px;
}

/******************/
/* Text Transform */
/******************/

.page-header,
.legend,
.content-header {
  text-transform: uppercase;
}

/**********************************************/
/* Background Color/Image Border & Text Color */
/**********************************************/

body {
  background-color: whitesmoke;
}

header,
.top,
button[type="submit"] {
  background-color: #47515a;
}

.nav-item,
.top {
  color: #ffc401;
}

.nav-item,
.top {
  transition: background-color 0.3s;
}

.nav-item:hover,
.contact:hover,
.top:hover,
button[type="submit"]:hover {
  background-color: #ffc401;
}

.page-header,
.legend,
.content-header,
.content-text,
.nav-item:hover,
.contact:hover,
.top:hover,
.phone,
button[type="submit"]:hover {
  color: #13171a;
}

.slideshow {
  background-image: radial-gradient(#fee181, #ffc401 85%);
  border-bottom: 1px solid rgba(71, 81, 90, .10); /* #47515a */
}

.previous,
.next {
  background-color: inherit;
  color: #47515a;
}

.dot {
  background-color: rgba(71, 81, 90, 0.15); /* #47515a */
  border: 1px solid rgba(71, 81, 90, 0.25); /* #47515a */
  transition: background-color 0.3s;
}

.selected,
.dot:hover {
  background-color: rgba(71, 81, 90, 1); /* #47515a */
}

.separator {
  background-color: #ffc401;
}

header .separator {
  border-bottom: 1px solid rgba(71, 81, 90, .10); /* #47515a */
}

.content .separator {
  background-color: rgba(71, 81, 90, .15); /* #47515a */
}

footer .separator {
  border-top: 1px solid rgba(71, 81, 90, .10); /* #47515a */
}

.map p,
.contact,
.credits:hover,
button[type="submit"] {
  color: white;
}

.page-header {
  border-bottom: 3px solid #fee181;
}

.service,
.credits-icon,
.description,
input[type=text],
input[type=email],
textarea {
  background-color: white;
  border: 1px solid rgba(71, 81, 90, 0.15); /* #47515a */
}

.icon-stage {
  background-color: #fee181;
}

.map {
  background-color: #13171a;
}

.contact {
  border: 2px solid white;
}

.contact:hover {
  border-color: #ffc401;
}

.copyright,
.credits {
  color: darkgray;
}

.copyright {
  background-color: black;
}

.more {
  color: blue;
}

input:focus,
textarea:focus {
  border: 1px solid #ffc401;
  box-shadow: 0 0 5px #ffc401;
}

.near-max {
  color: red;
}

/************************/
/* Display & Text Align */
/************************/

.logo,
.nav,
.nav-item,
.previous,
.quote,
.photo,
.next,
.service,
.contact,
.description,
.project-info,
form,
.contact-icon,
.phone {
  display: inline-block;
}

.page-header,
input,
textarea {
  display: block;
}

header,
.nav-item,
.slideshow,
.services,
.exit {
  text-align: center;
}

.quote,
.page-header,
.legend {
  text-align: left;
}

.hidden {
  display: none;
}

/**************/
/* Animations */
/**************/

/* Extract from W3.CSS 4.11 October 2018 by Jan Egil and Borge Refsnes */
/* Modified by Edgar Miranda */

@keyframes fading {
  0%    {opacity:0;}
  100%  {opacity:1;}
}

@-webkit-keyframes fading {
  0%    {opacity:0;}
  100%  {opacity:1;}
}

@-moz-keyframes fading {
  0%    {opacity:0;}
  100%  {opacity:1;}
}

.fading { 
  animation: fading 1.5s 1;
  -webkit-animation: fading 1.5s 1;
  -moz-animation: fading 1.5s 1;
}

/**********/
/* Others */
/**********/

html,
body {
  height: 100%;
}

.main {
  min-height: 100%;
  position: relative;
}

header {
  position: sticky;
  position: -webkit-sticky;
    top: 0;
  z-index: 1000;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

.logo,
.nav {
  vertical-align: middle;
}

header .logo {
  height: 45px;
  margin: 0 25px;
}

.nav-item {
  line-height: 90px;
  margin: 0 10px;
  width: 105px;
}

a {
  text-decoration: none;
}

.slideshow {
  padding: 10px 0 20px 0;
}

.previous,
.next {
  height: 50px;
  transition: transform 0.3s;
    backface-visibility: hidden;
  width: 50px;
}

button,
input,
textarea {
  outline: none;
}

.previous:hover,
.next:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.slide {
  display: none;
  margin: 0 auto;
  padding: 25px 0;
}

.active {
  display: inline-block;
}

.quote {
  margin: 0 20px 0 10px;
}

.quote,
.photo,
.project-info {
  vertical-align: middle;
}

.quote {
  height: 125px;
  padding-left: 5px;
  width: 365px;
}

.top,
.photo,
.service,
.contact,
.description,
button[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.photo,
.project-info {
  height: 350px;
}

.photo {
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  width: 415px;
}

.picker {
  padding: 5px 0;
}

.dot {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 13px;
  margin: 0 1px;
  width: 13px;
}

.top:hover,
.dot:hover,
button[type="submit"]:hover {
  cursor: pointer;
}

.separator {
  height: 3px;
  width: 100%;
}

.content {
  padding-bottom: 235px;
}

.services {
  margin: 25px auto 10px auto;
  width: 900px;
}

.page-header  {
  margin: 30px 0 15px 0;
  padding: 0 0 10px 0;
}

.content-header {
  margin: 25px 0;
}

.content-text {
  margin: 20px 0;
}

.service,
.description {
  height: 245px;
  margin: 5px;
}

.service {
  position: relative;
  width: 280px;
}

.icon-stage {
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  height: 200px;
  position: relative;
}

.icon {
  height: 100px;
  margin: auto;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width: 100px;
}

.legend {
  padding-left: 10px;
  position: absolute;
    bottom: 13px;
}

.map {
  padding: 25px 0;
}

footer .logo {
  height: 25px;
  margin-bottom: 20px;
}

.contact,
button[type="submit"] {
  padding: 10px;
}

.contact {
  margin-top: 25px;
}

.copyright {
  padding: 20px;
}

.credits:hover,
.more:hover {
  text-decoration: underline;
}

.icons {
  margin-top: 30px; 
}

.credits-icon {
  height: 84px;
  margin-right: 20px;
  padding: 10px;
  width: 84px;
}

.attribution {
  margin: 10px 0;
}

.bottom {
  position: absolute;
    bottom: 0;
  width: 100%;
  height: 229px;
}

.service-section {
  margin-bottom: 5px;
}

.description {
  padding: 15px;
  position: relative;
  vertical-align: top;
  width: 630px;
}

.more {
  position: absolute;
    bottom: 15px;
    right: 15px;
}

.project {
  padding: 15px 0;
  margin: 20px 0;
}

.project-info {
  padding: 0 10px;
  width: 520px;
}

.name {
  margin: 0 0 10px 0;
}

.place,
.location {
  margin: 5px 0;
}

.brief {
  margin: 15px 0;
}

.top {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
    bottom: 25px;
    right: 25px;
  transform: rotate(90deg);
  transition: opacity 0.5s;
  width: 40px;
  z-index: 2000;
}

.show {
  height: 40px;
  opacity: 1;
}

.whatsapp,
.email {
  margin: 25px 0;
}

.whatsapp .contact-icon {
  margin-top: 3px;
}

.content .separator {
  height: 1px;
}

.contact-icon {
  height: 65px;
  margin: 0 30px 0 0;
  vertical-align: top;
  width: 65px;
}

.phone {
  line-height: 75px;
}

form {
  padding-top: 20px;
}

input,
textarea {
  padding: 10px;
}

input[type=text],
input[type=email] {
  margin: 5px 0 20px 0;
  width: 300px;
}

textarea {
  height: 200px;
  margin: 5px 0;
  resize: none;
  width: 600px;
}

button[type="submit"] {
  margin: 20px 0;
  width: 100px;
}