/********************************/
/* Font Family & Letter Spacing */
/********************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-display: block;
  font-family: 'BlackHansSans-Regular';
  src: url(fonts/BlackHanSans-Regular.ttf);
}

.logo,
.footer-logo {
  font-family: 'BlackHansSans-Regular';
}

@font-face {
  font-display: block;
  font-family: 'Oswald-Regular';
  src: url(fonts/Oswald-Regular.ttf);
}

.nav-item,
.services h1,
.legend,
.contact,
.page-header {
  font-family: 'Oswald-Regular';
  letter-spacing: 1px;
}

/***************************************/
/* Font Size, Font Weight & Line Height*/
/***************************************/

.logo {
  font-size: 3.5em;
}

.nav-item {
  font-size: 1em;
  font-weight: bold;
}

.previous,
.next {
  font-size: 2em;
}

.services h1,
.page-header  {
  font-size: 2em;
}

.legend {
  font-size: 1.2em;
}

.footer-logo {
  font-size: 2em;
}

.contact {
  font-size: 0.95em;
  font-weight: bold;
}

.copyright {
  font-size: 0.9em;
}

.page-text {
  font-size: 1.15em;
  line-height: 1.5em;
}

/**********************************************/
/* Background Color/Image Border & Text Color */
/**********************************************/

body {
  background-color: whitesmoke;
}

header {
  background-color: #47515a;
}

.logo,
.nav-item,
.footer-logo {
  color: #ffc401;
}

.nav-item {
  background-color: inherit;
  border-bottom: 2px solid inherit;
  transition: background-color 0.4s;
}

.nav-item:hover,
.contact:hover {
  background-color: #ffc401;
  border-bottom: 2px solid #13171a;
}

.nav-item:hover,
.services h1,
.legend,
.contact:hover,
.page-header,
.page-text {
  color: #13171a;
}

.slideshow {
  background-image: radial-gradient(#fed581, #ffc401);
  border-bottom: 50px solid #47515a;
}

.previous,
.next {
  background-color: inherit;
  color: #47515a;
}

.dot {
  border: 1px solid rgba(71, 81, 90, 0.25); /* #47515a */
  background-color: rgba(71, 81, 90, 0.15); /* #47515a */
  transition: background-color 0.3s;
}

.selected,
.dot:hover {
  background-color: rgba(71, 81, 90, 1); /* #47515a */
}

.section p:not(.footer-logo),
.contact,
.credits:hover  {
  color: white;
}

.services h1,
.page-header {
  border-bottom: 3px solid #fed581;
}

.service,
.small-icon {
  background-color: white;
  border: 1px solid rgba(71, 81, 90, 0.15); /* #47515a */
}

.img-stage {
  background-color: #fed581;
}

.map {
  background-color: #13171a;
}

.contact {
  border: 2px solid white;
}

.contact:hover {
  border-color: #ffb501;
}

.copyright,
.credits {
  color: darkgray;
}

.copyright {
  background-color: black;
}

/************************/
/* Display & Text Align */
/************************/

.logo,
.nav,
.nav-item,
.previous,
.quote,
.photo,
.next,
.service,
.section,
.contact {
  display: inline-block;
}

.page-header {
  display: block;
}

header,
.slideshow,
.services {
  text-align: center;
}

.quote,
.services h1,
.legend {
  text-align: left;
}

/**************/
/* Animations */
/**************/

/* Extract from W3.CSS 4.11 October 2018 by Jan Egil and Borge Refsnes */
/* Modified by Edgar Miranda */

@keyframes fading {
  0%    {opacity:0;}
  100%  {opacity:1;}
}

@-webkit-keyframes fading {
  0%    {opacity:0;}
  100%  {opacity:1;}
}

@-moz-keyframes fading {
  0%    {opacity:0;}
  100%  {opacity:1;}
}

.fading { 
  animation: fading 1.5s 1;
  -webkit-animation: fading 1.5s 1;
  -moz-animation: fading 1.5s 1;
}

/**********/
/* Others */
/**********/

html,
body {
  height: 100%;
}

.main {
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

.logo,
.nav {
  vertical-align: middle;
}

.logo {
  margin: 5px 75px 0 75px;
}

.nav-item {
  height: 90px;
  margin: 0 10px;
  padding: 35px 0 0 0;
  width: 85px;
}

a {
  text-decoration: none;
}

.slideshow {
  padding: 10px 0 20px 0;
}

.previous,
.next {
  height: 50px;
  outline: none;
  transition: transform 0.4s;
    backface-visibility: hidden;
  width: 50px;
}

.previous:hover,
.next:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.slide {
  display: none;
  margin: 0 auto;
  padding: 25px 0;
}

.active {
  display: inline-block;
}

.quote,
.photo {
  margin: 0 10px;
  vertical-align: middle;
}

.quote {
  height: 125px;
  padding-left: 5px;
  width: 365px;
}

.photo,
.service,
.contact {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.photo {
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  height: 350px;
  width: 415px;
}

.picker {
  padding: 5px 0;
}

.dot {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 13px;
  margin: 0 1px;
  outline: none;
  width: 13px;
}

.dot:hover {
  cursor: pointer;
}

.content {
  padding-bottom: 250px;
}

.services {
  margin: 0 auto;
  width: 900px;
}

.services h1  {
  margin: 15px 0;
  padding: 0 0 10px 0;
}

.service {
  height: 245px;
  margin: 5px;
  width: 280px;
}

.img-stage {
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  height: 200px;
  position: relative;
}

.icon {
  height: 100px;
  margin: auto;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width: 100px;
}

.legend {
  height: 45px;
  line-height: 2.1em;
  padding-left: 10px;
}

.map {
  padding: 25px 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.contact {
  margin-top: 25px;
  padding: 10px;
}

.copyright {
  padding: 20px;
}

.credits:hover {
  text-decoration: underline;
}

.page-header {
  margin: 25px 0;
  padding-bottom: 10px;
}

.page-text {
  margin: 20px 0;
}

.icons {
  margin-top: 30px; 
}

.small-icon {
  height: 84px;
  margin-right: 20px;
  padding: 10px;
  width: 84px;
}

.attributions {
  margin: 10px 0;
}

.bottom {
  position: absolute;
    bottom: 0;
  width: 100%;
  height: 236px;
}

.service-section {
  background-color: red;
  margin-bottom: 5px;
}