@font-face {
  font-display: swap;
  font-family: 'BlackHansSans-Regular';
  src: url(fonts/BlackHanSans-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: 'Oswald-Regular';
  src: url(fonts/Oswald-Regular.ttf);
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(#13171a, #47515a);
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 1px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 1px 0px rgba(0,0,0,0.75);
  padding: 10px 0;
  
}

.header-stage {
  border-top: 1px solid rgba(232,232,232, 0.15);
  border-bottom: 1px solid rgba(232,232,232, 0.15);
  padding: 15px 0 8px 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: 960px;
}

.nav {
  position: absolute;
    top: -16px;
    right: 10px;
}

.logo,
.nav-item,
.footer-logo,
.section h1 {
  color: #ffb501;
}

.logo,
.footer-logo {
  font-family: 'BlackHansSans-Regular';
}

.logo {
  font-size: 3em;
}

.nav-item,
.legend,
.contact{
  font-family: 'Oswald-Regular';
  letter-spacing: 1px;
}

.nav-item {
  font-size: 0.9em;
  font-weight: bolder;
  height: 73px;
  margin: 0 7px;
  padding: 30px 0 0 0;
  text-align: center;
  transition: background-color 0.4s;
  width: 75px;
}

.nav-item:hover,
.contact:hover {
  background-color: #ffb501;
  color: #13171a;
}

a {
  text-decoration: none;
}

.content {
  background-color: whitesmoke;
}

.home {
  height: 1781px;
}

.slideshow,
.services {
  text-align: center;
}

.slideshow {
  background-image: radial-gradient(#fed581, #ffb501);
  border-bottom: 50px solid #47515a;
  padding: 10px 0 150px 0;
}

.nav-item,
.previous,
.slide,
.quote,
.photo,
.next,
.service,
.section,
.contact {
  display: inline-block;
}

.previous,
.next {
  background-color: inherit;
  color: #47515a;
  font-size: 2em;
  height: 50px;
  outline: none;
  transition: transform 0.4s;
    backface-visibility: hidden;
  width: 50px;
}

.previous:hover,
.next:hover {
  cursor: pointer;
  transform: scale(2);
}

.slide {
  margin: 0 auto;
  padding: 25px 0;
}

.quote,
.photo {
  margin: 0 10px;
  vertical-align: middle;
}

.quote {
  height: 125px;
  padding-left: 5px;
  text-align: left;
  width: 370px;
}

.photo {
  box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.75);
  height: 350px;
  width: 415px;
}

.picker {
  padding: 5px 0;
}

.dot {
  border: 1px solid rgba(71, 81, 90, 0.25);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgba(71, 81, 90, 0.15); 
  height: 13px;
  margin: 0 1px;
  transition: background-color 0.3s;
  width: 13px;
}

.dot:hover {
  background-color: rgba(71, 81, 90, 1); 
  cursor: pointer;
}

.services {
  background-color: rgba(71, 81, 90, 0.55);
  margin: 0 auto 25px auto;
  padding: 10px 0;
  position: relative;
    top: -185px;
  width: 900px;
}

.service {
  background-color: white;
  height: 245px;
  margin: 5px;
  width: 280px;
}

.img-stage {
  background-color: #fed581;
  height: 200px;
  position: relative;
}

.icon {
  height: 100px;
  margin: auto;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width: 100px;
}

.legend {
  color: #13171a;
  font-size: 16px;
  height: 45px;
  line-height: 25px;
  padding: 10px;
  text-align: left;
}

.map {
  background-color: #13171a;
  padding: 25px 0;
}

.section {
  text-align: left;
}

.footer-logo {
  font-size: 2em;
  margin-bottom: 20px;
}

.section p:not(.footer-logo),
.contact {
  color: white;
}

.contact {
  border: 2px solid white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  font-size: 0.95em;
  font-weight: bold;
  margin-top: 25px;
  padding: 10px;
}

.contact:hover {
  border-color: #ffb501;
}

.copyright,
.credits {
  color: darkgray;
}

.copyright {
  background-color: black;
  font-size: 0.9em;
  padding: 20px;
}

.credits:hover {
  color: white;
  text-decoration: underline;
}